{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "linebreak-style": 0,
    "react/prefer-stateless-function": 1,
    "react/jsx-filename-extension": 0
  }
}